# Environment
.env
.aivenv/

# Python
__pycache__/
*.pyc

# Logs
logs/*.jsonl

# Saved chats
*.json

# IDE
.vscode/
.idea/

chats/
logs/

chroma_data/

index_state.json

docs/


.streamlit/secrets.toml

*.dbsales-ops-agent/.streamlit/secrets.toml
sales-ops-agent/.streamlit/secrets.toml

*.db